<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>
  
  <connectionStrings>
    <add name="thport" connectionString="Server=localhost\sqldev01;Database=thport;User Id=THapp; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
